.container {
    display: flex;
    /* justify-content: space-between; */
    height: 100vh;

}
.form-container {
    margin: 150px 250px;
    align-items: center;
}
.form-container h2 {
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, medium;
}
.form-container p {
    text-align: center;
    font-size: 14px;
    font-family: Helvetica, medium;
}
