.carousel {
  width: 720px;
  text-align: center;
  height: 100vh;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #80BFFF 100%) 0% 0% no-repeat padding-box;
}
.carouselImg {
  margin-top: 217px;
}
.carouselText {
  margin-top: 32.2px;
  text-align: center;
  margin: 40px 128px 
}
.carouselText p {
  /* width: 310px; */
  align-items: center;
}