
.container {
    padding-top: 0px;
    margin-top: 47px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 15px #00000008;
    border-radius: 20px;
    height: 350px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 35px;
}
.flex {
    display: flex;
    margin: 20px 30px 0px 30px;
}
.details{
    margin-right: 60%;
    color: #515151;
}
.details span {
    color: #019FBC;
}
.details p {
    color: #999999;
    margin-top: 0px;
}
.img {
    margin: 0px 20px 0px 0px;
}
.amount {
    margin-right: 10px;
    margin-left: 0px;
    font-weight: 500;
}
.currency {
    color: #999999;
}